{% extends 'base_homepage.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    {% for product in products %}
      <div class="col-lg-4 mb-4">
          <div class="card">
              <img class="card-img-top" src="{{product.cover_photo.url}}" alt="">

              <div class="card-body">
                  <h5 class="card-title">{{product.product_name}}</h5>
                  <p class="card-text">
                    Deadline: {{product.deadline}}<br>
                    Starting Bid: {{product.starting_bid}} Tk<br>
                    Status: {{product.product_status}}<br>
                  </p>

                  <a href="{% url 'productDetails' product.pk %}" class="btn btn-outline-primary btn-sm">
                      Product Details
                  </a>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}